@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
:root{
    --borderRadius:10px;
    --width:85%;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #acbaca;
}
.heading{
    font-family: 'Carter One', cursive;
    font-weight: 1000;
    color: #828282;
}
.card-container{
    margin-top: 0px;
    margin-left: 2vw;
    width: 95vw;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(9,9vw) 6vw;
    grid-template-rows: repeat(3,26vh);
    grid-column-gap: 13px;
    grid-row-gap: 20px;
   
}
.card1{
    height: 100%;
    width:100%;
    box-shadow:   0 10px 10px rgb(0 0 0 / 22%);
    border-radius: var(--borderRadius);
    border: 1px solid rgb(214, 214, 214);
    position: relative;
    transform-style: preserve-3d; 
}
.card{
    height: 100%;
    width:100%;
    box-shadow:   0 10px 10px rgb(0 0 0 / 22%);
    border-radius: var(--borderRadius);
    border: 1px solid grey;
    position: relative;
    transform-style: preserve-3d; 
    animation:cardRotate .3s linear -2s infinite reverse;
}

@keyframes cardRotate {
    0%{
        transform: rotateY(10deg);
    }
    25%{
        transform: rotateY(45deg);
    }
    50%{
        transform: rotateY(90deg);
    }
    75%{
        transform: rotateY(120deg);
    }
    100%{
        transform: rotateY(180deg); 
    }
}
.front{
    position: absolute;
    height: 100%;
    width:100%;
    background-color: white;
    border-radius: var(--borderRadius);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.upper{
    background-color: white;
    width: var(--width);
    height: 5vh;
    font-size: 1.2rem; 
    font-weight: bold;
    /* background-color: red; */
}
.middle{
    margin: 20px 10px;
    background-color: white;
    width:var(--width);
    height: 9vh;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.lower{
    background-color: white;
    width: var(--width);
    height: 5vh;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* background-color: red; */
}

.back{
    position: absolute;
    height: 100%;
    width:100%;
    background-color: white;
    border-radius: var(--borderRadius);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: rotateY(180deg);
}
img{
    width: 83%;
    height: 85%;
    border-radius: 5px;
}
 .start-btn{
    margin-right: 10vw;
    width: 10vw;
    height: 6vh;
    border-radius: 20px;
    /* border-color: #c9d5e0;
    color: rgb(85, 96, 160);
    font-weight: bolder;
    border-style: none;
    background-color: #c9d5e0;
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, .15),
    inset 15px 15px 10px rgba(255, 255, 255, .75),
    -15px -15px 35px rgba(255, 255, 255, .55),
    inset -1px -1px 10px rgba(0, 0, 0, .2); */
} 
.result{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
}

.result-card{
    height: 100%;
    width:12vw;
    box-shadow:   0 10px 10px rgb(0 0 0 / 22%);
    border-radius: var(--borderRadius);
    border: 1px solid rgb(214, 214, 214);
    position: relative;
}
.btn-container{
    margin-right: 9vw;
}